<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:each="student: ${students}">
    <h2 th:inline="text">
        [[${student.name}]] is majoring in [[${student.major}]].
    </h2>
    <h3>
        Courses enrolled:
    </h3>
    <ul>
        <th:block   th:each="course : ${student.courses}">
        <li th:inline="text"><b>[[${course.title}]]</b> taught by [[${course.instructor}]].</li>
        </th:block>
    </ul>
</div>
</body>
</html>